# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.log

# Django
*.pyc

# Migrations (optional if you want fresh state always)

# VS Code
.vscode/

# macOS
.DS_Store

# Python virtual environments
env/
venv/
ENV/